@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-size: 14px;
	font-family: 'Roboto', sans-serif;
	height: 100vh;
	width: 100%;
	padding: 2rem;
	transition: background 0.2s;
}

.menu {
	position: fixed;
	z-index: 1000;
	width: 150px;
	background: #1b1a1a;
	border-radius: 5px;
	display: none;
	list-style: none;
}

.menu.open {
	display: block;
}

.menu .menu-item {
	padding: 8px 10px;
	font-size: 1rem;
	color: #eee;
	cursor: pointer;
	transition: background-color 0.2s ease-in;
	border-radius: inherit;
}

.menu .menu-item:hover {
	background: #343434;
}

.custom-message {
	display: block;
	position: absolute;
	inset: 0 0 auto auto;
	margin: 1rem;
	padding: 1rem;
	border: 1px solid #f0f0f0;
	background: #fff;
	width: 200px;
	border-radius: 8px;
	text-align: center;
	letter-spacing: 1px;
	font-size: 1.2rem;
	font-weight: 600;
	box-shadow: 4px 2px 4px #0001;
}

.timer-block {
	width: 400px;
	position: absolute;
	left: 20px;
}

.timer-form {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 92px;
}

.timer-form__input {
	outline: none;
	border: 0;
	padding: 0.625rem;
	width: 70%;
}

.timer-form__button {
	transition: all 0.2s;
	padding: 0.625rem;
	background-color: rgb(255, 177, 32);
	border: 0;
	border-bottom: 6px solid rgb(206, 134, 0);
	border-radius: 10px;
	cursor: pointer;
}

.timer-form__button:active {
	border: 0;
}
